#header{
    display: block;
    width: 80px;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#500202, #9198e5);
    overflow: hidden;
    box-shadow: 0px 10px 20px #565656;
    position: absolute;
    top: 0;
    left: 0;
}

#header #homeImg{
    background-color: #ededed;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 0;
}

#header #homeImg:hover{
    background: #9198e5;
}

#header #homeImg img{
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 0;
}

#header #logOutImg{
    background-color: #ededed;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#header #logOutImg:hover{
    background: #970404ab;
}

#header #logOutImg img{
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 0;
}