#register{
    width: 498px;
    height: 598px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    border-radius: 20px;
    box-shadow: 0px 10px 20px #565656;
}

#register a:active{
    text-decoration: none;
}

#register #registerContent{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(#1f5673 -10%, #759fbc 70%);
    color: #f8f8f8;
}

#register #registerContent h1{
    margin-top: 50px;
    text-align: center;
}

#register #registerContent .registerElement{
    width: 100%;
}

#register #registerContent .registerElement p{
    font-size: 20px;
    text-align: center;
    margin: 5px;
    padding: 0;
}

#register #registerContent .registerElement input{
    width: calc(100% - 50px);
    box-sizing: border-box;
    margin: 10px 25px;
    padding: 5px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #463730;
    background-color: #46373000;
    color: #f8f8f8;
}

#register #registerContent #registerButton input{
    width: 120px;
    display: block;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #463730;
    background-color: #463730;
    box-shadow: 0 0 2px #463730;
    color: #ededed;
}

#register #registerContent #registerButton input:disabled{
    opacity: 0.5;
}

#register #registerContent #registerText{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 30px;
}